body {
    font-family: 'Poppins';
    background-color: rgba(255, 234, 0, 0.328);
}

#main-tickets {
    background-color: #ffe4c4;
}

article {
    margin: 50px;
    background-color: #FFC7C4;
    color: black;
    padding: 25px;
    border: 5px solid black;
    border-radius: 10px;
    width: 350px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: goldenrod;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 35px;
}

li {
    list-style-type: none;
    margin: 35px;
}

a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

nav ul {
    display: flex;
    align-items: center;
}

main {
    display: flex;
    justify-content: center;
}

footer {
    color: black;
    padding: 10px 0;
    text-align: center;
    font-size: 22px;
}

.demandeur {
    color: red;
}

form {
    margin: 50px;
    background-color: #FFC7C4;
    color: black;
    padding: 20px;
    border: 5px solid black;
    border-radius: 10px;
    width: 300px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}